config bmx6 'general'
	# bmx6: doesn't "configSync" by default anymore (no more "uci pending
	#   changes" because of auto-gw-mode) -> src
	#   https://lists.libremesh.org/pipermail/lime-dev/2017-May/000894.html
	option configSync '0'
	option syslog '0' # put 1 if you want to debug bmx6

config plugin 'bmx6_config_plugin'
	option plugin 'bmx6_config.so'

config plugin 'bmx6_json_plugin'
	option plugin 'bmx6_json.so'

config plugin 'bmx6_sms_plugin'
	option plugin 'bmx6_sms.so'

config ipVersion 'ipVersion'
	option ipVersion '6'

config dev 'mesh_0'
	option dev 'wif0'
	option linklayer '2'

<% if @node['ath10k'].nil? -%>
config dev 'mesh_1'
	option dev 'wif1_t'
	option linklayer '2'
	option rateMax '53000000'
<% end -%>

<% if @node.fetch('bmx6_over_br-lan') == true -%>
config dev 'mesh_2'
	option dev 'br-lan'
	option linklayer '1'
<% else -%>
## uncomment next 3 lines to enable bmx6 over br-lan
#config dev 'mesh_2'
#	option dev 'br-lan'
#	option linklayer '1'
<% end -%>

config tunDev 'main'
	option tunDev 'main'
	option tun4Address '<%= @node.fetch('ip4_cidr') %>'

# I demand
config tunOut 'inet6_zone'
	option tunOut 'inet6_zone'
	option network '::/0'
	option maxPrefixLen '0'

config tunOut 'inner_zone'
	option tunOut 'inner_zone'
	option network '10.0.0.0/8'

	# Internet, please
config tunOut 'inet4_zone'
	option tunOut 'inet4_zone'
	option network '0.0.0.0/0'
	option maxPrefixLen '0'

<% if @node['guifi10_static_route'] -%>
# I offer
config tunIn 'border_zone'
  option tunIn 'border_zone'
  option network '10.0.0.0/8'
<% else -%>
# I offer
#config tunIn 'border_zone'
#  option tunIn 'border_zone'
#  option network '10.0.0.0/8'
<% end -%>

<% if @node['I_offer_internet'] -%>
# I offer
config tunIn 'inet4_zone'
  option tunIn 'inet4_zone'
  option network '0.0.0.0/0'
<% else -%>
# I offer
#config tunIn 'inet4_zone'
#  option tunIn 'inet4_zone'
#  option network '0.0.0.0/0'
<% end -%>
